<a href="https://colab.research.google.com/github/gabrielfernandesnasciment-wq/site_do_lebron/blob/main/atividade_do_saulo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Dada a tupla t = (1, 2, 3) , escreva um código para inserir o número 4 no final da tupla.

In [3]:
t=(1,2,3)
t=t+(4,)
print(t)

(1, 2, 3, 4)

2. Dada a tupla t = (1, 2, 3) , escreva um código para inserir o número 0 no início da tupla.

In [4]:
t=(1,2,3)
t=(0,)+t
print(t)

(0, 1, 2, 3)

3. Dada a tupla t = (10, 20, 30, 40) , insira o valor 25 entre 20 e 30 .

In [8]:
t=(10,20,30,40)
t=t[0:2] + (25,) + t[2:]
print(t)

(10, 20, 25, 30, 40)

5. Dada uma tupla de strings, crie um código que insira uma nova string fornecida pelo usuário após a
terceira posição da tupla.

In [12]:
t=('gato','rato','pato','ganso','batom')
x=input('digite uma string: ')
x=(x,)
t=t[0:4]+x+t[4:]
print(t)

digite uma string: casa
('gato', 'rato', 'pato', 'ganso', 'casa', 'batom')

6. Escreva um programa que permita criar uma tupla inicialmente vazia e adicionar elementos um a
um informados pelo usuário até que ele digite "sair".

In [13]:
t=tuple()
while True:
  x=input('Digite algo para ser colocado na tupla(digite sair para fechar): ')
  x= x.lower()
  if x=='sair':
    break
  else:
    t=t+(x,)
print(t)

Digite algo para ser colocado na tupla(digite sair para fechar): casa
Digite algo para ser colocado na tupla(digite sair para fechar): rato
Digite algo para ser colocado na tupla(digite sair para fechar): sair
('casa', 'rato')

7. Dada uma tupla t = (2, 4, 6, 8) , escreva um código que insira o número 5 de forma que a
tupla fique em ordem crescente.

In [14]:
t=(2,4,6,8)
t= t[0:2] + (5,) + t[2:]
print(t)

(2, 4, 5, 6, 8)

G. Dada a tupla t = (1, 2, 3, 4) , escreva um código que altere o valor da segunda posição (valor
2 ) para 20 .

In [16]:
t=(1,2,3,4)
t= t[0:1]+ (20,)+ t[2:]
print(t)

(1, 20, 3, 4)

9. Crie uma função alterar_elemento(tupla, posicao, novo_valor) que substitua o
elemento da posição informada e retorne a nova tupla.

In [19]:
def alterar_elemento(tupla,posicao,novo_valor):
  tupla=tupla[0:(posicao-1)]+(novo_valor,)+tupla[posicao:]
  return tupla
t=('gato','rato','pato','ganso','batom')
print(t)
x=int(input('Essa é a tupla, digite a posição que você quer alterar: '))
n=input('digite agora a info que entrar no lugar: ')
t=alterar_elemento(t,x,n)
print(t)

('gato', 'rato', 'pato', 'ganso', 'batom')
Essa é a tupla, digite a posição que você quer alterar: 2
digite agora a info que entrar no lugar: t
('gato', 't', 'pato', 'ganso', 'batom')

10. Dada uma tupla t = (10, 15, 20, 25, 30) , altere todos os elementos múltiplos de 10 para
o valor 0 .

In [34]:
t=(10,15,20,25,30)
m=[]
for i in t:
  if i%10==0:
    m.append(0)
  else:
    m.append(i)
p=0
for i in m:
  if i==0:
    t= t[0:p]+(i,)+t[(p+1):]
  p+=1
print(t)

(0, 15, 0, 25, 0)

11. Escreva um código que permita alterar vários elementos de uma tupla: o programa deve pedir ao
usuário a posição e o novo valor, repetidamente, até que ele digite "fim".

In [37]:
def alterar_elemento(tupla,posicao,novo_valor):
  tupla=tupla[0:(posicao-1)]+(novo_valor,)+tupla[posicao:]
  return tupla
tupla=tuple()
while True:
  valor=input('digite a palavra que vai entrar(digite fim para parar):')
  if valor=='fim':
    break
  posicao=int(input('digite a posição que você quer que seja modificada: '))
  valor=valor.lower()
  tupla=alterar_elemento(tupla,posicao,valor)

print(tupla)

digite a palavra que vai entrar(digite fim para parar):morrer
digite a posição que você quer que seja modificada: 1
digite a palavra que vai entrar(digite fim para parar):casa
digite a posição que você quer que seja modificada: 0
digite a palavra que vai entrar(digite fim para parar):fim
('casa', 'morrer')

12. Dada a tupla t = ('a', 'b', 'c', 'd') , altere o terceiro elemento ( 'c' ) para 'z' .

In [41]:
t = ('a', 'b', 'c', 'd')
t= t[0:2] + ('z',) + t[3:]
print(t)

('a', 'b', 'z', 'd')

13. Dada uma tupla de números inteiros, escreva um código que gere uma nova tupla com todos os
números negativos transformados em positivos.

In [44]:
t=(10,20,40,30,90)
nova_tupla= tuple()
m=[]
for i in t:
  m.append(i-(i*2))
posicao=0
for i in m:
  nova_tupla=nova_tupla[0:posicao] + (i,) + nova_tupla[(posicao+1):]
  posicao+=1
print(f'{t}\n{nova_tupla}')

(10, 20, 40, 30, 90)
(-10, -20, -40, -30, -90)

14. Escreva uma função que receba uma tupla e substitua todos os elementos menores que 10 por
10 .

In [54]:
t=(1,2,5,6,10,20,50)
m=[]
for i in t:
  if i < 10:
    m.append(10)
  else:
    m.append(i)
posicao=0
for i in m:
  t= t[0:posicao] + (i,)+t[(posicao+1):]
  posicao+=1
print(t)

(10, 10, 10, 10, 10, 20, 10)

15. Dada a tupla t = (5, 10, 15, 20, 25) , escreva um código que remova o elemento da posição
2 (valor 15 ).

In [48]:
t = (5, 10, 15, 20, 25)
t= t[0:2] + t[3:]
print(t)

(5, 10, 20, 25)

1B. Crie uma função remover_elemento(tupla, posicao) que remova o elemento da posição
informada e retorne a nova tupla.

In [50]:
def remover_elemento(tupla,posicao):
  tupla=tupla[0:posicao]+tupla[(posicao+1):]
  return tupla
t = (5, 10, 15, 20, 25)
t= remover_elemento(t,4)
print(t)

(5, 10, 15, 20)

17. Dada uma tupla de strings, escreva um código que remova todas as strings que comecem com a
letra "A" .

In [58]:
t=('ana','raquel','joyce','andré','vitoria')
t=list(t)
for i in t:
  if i[0]=='a':
    t.remove(i)
t=tuple(t)
print(t)

('raquel', 'joyce', 'vitoria')

1G. Dada uma tupla de números inteiros, remova todos os números ímpares, gerando uma nova tupla
apenas com os pares.

In [62]:
numeros=(1,2,3,4,5,6,7,8,9,10)
pares=[ numero for numero in numeros if numero%2==0]
pares=tuple(pares)
print(pares)

(2, 4, 6, 8, 10)

19. Escreva um programa que permita ao usuário criar uma tupla e depois remover elementos
informando a posição, repetidamente, até que a tupla fique vazia.

In [64]:
tupla=[]
n_de_elementos=0
while True:
  n=input('digite a string que você quer na tupla(fim para acabar com o programa)')
  if n.lower()=='fim':
    break
  else:
    tupla.append(n)
  n_de_elementos+=1
print(tuple(tupla))
while n_de_elementos>0:
  indice=input('digite o indice do que você quer remover(digite fim e o programa termina ou exclua todos os item)')
  if indice.lower()=='fim':
    break
  else:
    indice=int(indice)
    del tupla[indice]
tupla=tuple(tupla)
print(tupla)

digite a string que você quer na tupla(fim para acabar com o programa)casa
digite a string que você quer na tupla(fim para acabar com o programa)carro
digite a string que você quer na tupla(fim para acabar com o programa)c
digite a string que você quer na tupla(fim para acabar com o programa)fim
('casa', 'carro', 'c')
digite o indice do que você quer remover(digite fim e o programa termina ou exclua todos os item)0
digite o indice do que você quer remover(digite fim e o programa termina ou exclua todos os item)fim
('carro', 'c')